# Coverage directory
coverage

# Compiled folder
dist

# Dependency directories
node_modules

# Output of 'npm pack'
*.tgz

docs

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
