name: Testing
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        node: ["14", "16"]
    name: Test on Node.js v${{ matrix.node }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js v${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

      - name: Upload Coverage
        uses: codecov/codecov-action@v1
